<!DOCTYPE html>
<html>
	<head>
		<title></title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'ninjagold/css/skeleton.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'ninjagold/css/normalize.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'ninjagold/css/styles.css' %}">
	</head>
	<body>
		<div class="wrapper">
			<h1>Ninja Gold</h1>
			<label>Your Gold: </label>
			<input type="text" value="{{count}}">
			<form action="/process_money" method="POST">
				{% csrf_token %}
				<input type="hidden" name="building" value="reset">
				<input type="submit" value="RESET GOLD">
			</form>
			<div id="farm">
				<h3>Farm</h3>
				<p>(earns 10-20 golds)</p>
				<form action="/process_money" method="POST">
					{% csrf_token %}
					<input type="hidden" name="building" value="farm">
					<input type="submit" value="Find Gold!">
				</form>
			</div>
			<div id="cave">
				<h3>Cave</h3>
				<p>(earns 5-10 golds)</p>
				<form action="/process_money" method="POST">
					{% csrf_token %}
					<input type="hidden" name="building" value="cave">
					<input type="submit" value="Find Gold!">
				</form>
			</div>
			<div id="house">
				<h3>House</h3>
				<p>(earns 2-5 golds)</p>
				<form action="/process_money" method="POST">
					{% csrf_token %}
					<input type="hidden" name="building" value="house">
					<input type="submit" value="Find Gold!">
				</form>
			</div>
			<div id="casino">
				<h3>Casino</h3>
				<p>(earns/takes 0-50 golds)</p>
				<form action="/process_money" method="POST">
					{% csrf_token %}
					<input type="hidden" name="building" value="casino">
					<input type="submit" value="Find Gold!">
				</form>
			</div>
			<div id="activites">
				<h3>Activities:</h3>
            	{% if action %}
	            	<ul>
	                	{% for class, activity in action %}
	                		<li class={{class}}>{{activity}}</li>
	                	{% endfor %}
	            	</ul>
            	{% endif %}
			</div>
		</div>
	</body>
</html>