<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='skeleton.css') }}">
	</head>
	<body>
		<h1>Please fill in the form below to become a new user</h1>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for msg in messages%}
					<p class="errors">{{ msg }}</p>
				{% endfor %}
			{% endif %}
		{% endwith %}
		<div id="register-form">
			<form name="register" action="/users" method="POST">
				<label>First Name:</label>
				<input type="text" name="first_name" placeholder="Krompopulos">
				<label>Last Name:</label>
				<input type="text" name="last_name" placeholder="Michael">
				<label>Email:</label>
				<input type="text" name="email" placeholder="kmichael@rnm.com">
				<label>Password:</label>
				<input type="text" name="password" placeholder="********">
				<label>Confirm Password:</label>
				<input type="text" name="confirm" placeholder="********">
				<input type="submit" value="REGISTER">
			</form>
		</div>
	</body>
</html>