<!DOCTYPE html>
<html>
	<head>
		{% load staticfiles %}
		<title>{{ title }}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'courses/css/skeleton.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'courses/css/normalize.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'courses/css/styles.css' %}">
	</head>
	<body>
		<form action="/removethis/{{ course.id }}">
			<h1>Are you sure you want to delete the following course?</h1>
			<label>Name:</label>
			{{ course.name }}
			<label>Description:</label>
			{{ course.description }}
			<input type="submit" value="Remove Course">
		</form>
	</body>
</html>