<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Disappearing Ninjas</title>
	</head>
	<body>
	{% if allNinjas %}
		<img src="{{ url_for('static', filename='raphael.jpg') }}">
		<img src="{{ url_for('static', filename='michelangelo.jpg') }}">
		<img src="{{ url_for('static', filename='donatello.jpg') }}">
		<img src="{{ url_for('static', filename='leonardo.jpg') }}">
	{% endif %}
	{% if allNinjas == False %}
		{% if color == 'red' %}
			<img src="{{ url_for('static', filename='raphael.jpg') }}">
		{% elif color == 'blue' %}
			<img src="{{ url_for('static', filename='leonardo.jpg') }}">
		{% elif color == 'orange' %}
			<img src="{{ url_for('static', filename='michelangelo.jpg') }}">
		{% elif color == 'purple' %}
			<img src="{{ url_for('static', filename='donatello.jpg') }}">
		{% else %}
			<img src="{{ url_for('static', filename='notapril.jpg') }}">
		{% endif %}
	{% endif %}
	</body>
</html>